@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");

* {
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
        Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic",
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body{
    overflow: scroll;
}    

.register{
    position: absolute;
    width: 357px;
    height: 32px;
    left: 400px;
    top: 140px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;

    /* B_8 */

    color: #000000;
}


.rgName{
    position: absolute;
    width: 357px;
    height: 32px;
    left: 400px;
    top: 220px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 38px;

    /* B_8 */

    color: #000000;
}

.NameWrite{
    /* Rectangle 53 */

    box-sizing: border-box;

    position: absolute; 
    width: 310px;
    height: 40px;
    left: 400px;
    top: 270px;

    /* B_1 */

    background: #FFFFFF;
    /* B_7 */

    border: none;
    border-bottom: 0.5px solid;
    border-color: rgb(154, 150, 150);
}

.rgID{
    position: absolute;
    width: 357px;
    height: 32px;
    left: 400px;
    top: 320px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 38px;

    /* B_8 */

    color: #000000;
}

.idwrite{
    /* Rectangle 53 */

    box-sizing: border-box;

    position: absolute; 
    width: 310px;
    height: 40px;
    left: 400px;
    top: 370px;

    /* B_1 */

    background: #FFFFFF;
    /* B_7 */

    border: none;
    border-bottom: 0.5px solid;
    border-color: rgb(154, 150, 150);
}

.rgAddress{
    position: absolute;
    width: 357px;
    height: 32px;
    left: 400px;
    top: 420px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 38px;

    /* B_8 */

    color: #000000;
}

.AddressWrite{
    /* Rectangle 53 */

    box-sizing: border-box;

    position: absolute; 
    width: 700px;
    height: 40px;
    left: 400px;
    top: 470px;

    /* B_1 */

    background: #FFFFFF;
    /* B_7 */

    border: none;
    border-bottom: 0.5px solid;
    border-color: rgb(154, 150, 150);
}

.rgPhoneNum{
    position: absolute;
    width: 357px;
    height: 32px;
    left: 400px;
    top: 520px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 38px;

    /* B_8 */

    color: #000000;
}

.PhoneNumWrite{
    /* Rectangle 53 */

    box-sizing: border-box;

    position: absolute; 
    width: 310px;
    height: 40px;
    left: 400px;
    top: 570px;

    /* B_1 */

    background: #FFFFFF;
    /* B_7 */

    border: none;
    border-bottom: 0.5px solid;
    border-color: rgb(154, 150, 150);
}

.rgbt{
    box-sizing: border-box;

    position: absolute;
    width: 330px;
    height: 61px;
    left: 604px;
    top: 680px;

    /* M_2_2 */

    border: 2px solid #8DA6FF;
    border-radius: 11px;


}

.rgbutton{
    position: flex;
    width: 330px;
    height: 61px;
    left: 604px;
    top: 680px;

    margin-bottom: 200px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    /* M_2_2 */

    color: #8DA6FF;

}


.sidemenu{
    position: absolute;
    width: 357px;
    height: 32px;
    left: 100px;
    top: 100px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight:bold !important; 
    font-size: 20px;
    line-height: 38px;

    /* B_8 */

    color: #000000;
}

.MyInfo{
    position: absolute;
    width: 357px;
    height: 32px;
    left: 100px;
    top: 130px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200px; 
    font-size: 15px;
    line-height: 38px;

    /* B_8 */

    color: #000000;
}

.OrderTable{
    position: absolute;
    width: 357px;
    height: 32px;
    left: 100px;
    top: 160px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200px; 
    font-size: 15px;
    line-height: 38px;

    /* B_8 */

    color: #000000;
}

