@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");

* {
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
        Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic",
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body{
    overflow: scroll;
}    

.register{
    position: absolute;
    width: 357px;
    height: 32px;
    left: 400px;
    top: 140px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;

    /* B_8 */

    color: #000000;
}


.registerbd{

    box-sizing: border-box;

    position: absolute; 
    width: 310px;
    height: 1px;
    left: 400px;
    top: 180px;

    /* B_1 */

    background: #FFFFFF;
    /* B_7 */

    border: none;
    border-bottom: 0.5px solid;
    border-color: rgb(154, 150, 150);

}

.sidemenu{
    position: absolute;
    width: 357px;
    height: 32px;
    left: 100px;
    top: 100px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight:bold !important; 
    font-size: 20px;
    line-height: 38px;

    /* B_8 */

    color: #000000;
}


.MyInfo{
    position: absolute;
    width: 357px;
    height: 32px;
    left: 100px;
    top: 130px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200px; 
    font-size: 15px;
    line-height: 38px;

    /* B_8 */

    color: #000000;
}

.OrderTable{
    position: absolute;
    width: 357px;
    height: 32px;
    left: 100px;
    top: 160px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200px; 
    font-size: 15px;
    line-height: 38px;

    /* B_8 */

    color: #000000;
}


