@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");

* {
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
        Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic",
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body{
    overflow: scroll;
}    

.register{
    position: absolute;
    width: 357px;
    height: 32px;
    left: 400px;
    top: 140px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;

    /* B_8 */

    color: #000000;
}

.registerbd{
    /* Line 1 */

    position: absolute;
    width: 700px;
    height: 0px;
    left: 400px;
    top: 170px;

    /* B_5 */

    border: 0.5px solid #CCCCCC;
    transform: rotate(0.36deg);
}

.rgName{
    position: absolute;
    width: 357px;
    height: 32px;
    left: 400px;
    top: 220px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 38px;

    /* B_8 */

    color: #000000;
}

.NameWrite{
    /* Rectangle 53 */

    box-sizing: border-box;

    position: absolute; 
    width: 310px;
    height: 40px;
    left: 400px;
    top: 270px;

    /* B_1 */

    background: #FFFFFF;
    /* B_7 */

    border: none;
    border-bottom: 0.5px solid;
    border-color: rgb(154, 150, 150);
}

.rgID{
    position: absolute;
    width: 357px;
    height: 32px;
    left: 400px;
    top: 320px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 38px;

    /* B_8 */

    color: #000000;
}

.idwrite{
    /* Rectangle 53 */

    box-sizing: border-box;

    position: absolute; 
    width: 310px;
    height: 40px;
    left: 400px;
    top: 370px;

    /* B_1 */

    background: #FFFFFF;
    /* B_7 */

    border: none;
    border-bottom: 0.5px solid;
    border-color: rgb(154, 150, 150);
}

.rgPassword{
    position: absolute;
    width: 357px;
    height: 32px;
    left: 400px;
    top: 420px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 38px;

    /* B_7 */

    color: black;
}

.PWwrite{
    /* Rectangle 53 */

    box-sizing: border-box;

    position: absolute; 
    width: 310px;
    height: 40px;
    left: 400px;
    top: 470px;

    /* B_1 */

    background: #FFFFFF;
    /* B_7 */

    border: none;
    border-bottom: 0.5px solid;
    border-color: rgb(154, 150, 150);
}

.rgPasswordCheck{
    position: absolute;
    width: 357px;
    height: 32px;
    left: 790px;
    top: 420px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 38px;

    /* B_8 */

    color: #000000;
}

.PwCheck{
    /* Rectangle 53 */

    box-sizing: border-box;

    position: absolute; 
    width: 310px;
    height: 40px;
    left: 790px;
    top: 470px;

    /* B_1 */

    background: #FFFFFF;
    /* B_7 */

    border: none;
    border-bottom: 0.5px solid;
    border-color: rgb(154, 150, 150);
}

.qwer{
    position: absolute;
    top: 4.5rem;
    right: 1524px;
}

.qwer2{
    position: absolute;
    top: -2rem;
    right: 1524px;
}

.qwer3{
    position: absolute;
    top: 10rem;
    right: 1520px;
}

.rgAddress{
    position: absolute;
    width: 357px;
    height: 32px;
    left: 400px;
    top: 0px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 38px;

    /* B_8 */

    color: #000000;
}

.AddressWrite{
    /* Rectangle 53 */

    box-sizing: border-box;

    position: absolute; 
    width: 700px;
    height: 40px;
    left: 400px;
    top: 570px;

    /* B_1 */

    background: #FFFFFF;
    /* B_7 */

    border: none;
    border-bottom: 0.5px solid;
    border-color: rgb(154, 150, 150);
}

.rgPhoneNum{
    position: absolute;
    width: 357px;
    height: 32px;
    left: 400px;
    top: 620px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 38px;

    /* B_8 */

    color: #000000;
}

.PhoneNumWrite{
    /* Rectangle 53 */

    box-sizing: border-box;

    position: absolute; 
    width: 310px;
    height: 40px;
    left: 400px;
    top: 670px;

    /* B_1 */

    background: #FFFFFF;
    /* B_7 */

    border: none;
    border-bottom: 0.5px solid;
    border-color: rgb(154, 150, 150);
}

.rgEmail{
    position: absolute;
    width: 357px;
    height: 32px;
    left: 400px;
    top: 720px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 38px;

    /* B_8 */

    color: #000000;
}

.EmailWrite{
    /* Rectangle 53 */

    box-sizing: border-box;

    position: absolute; 
    width: 310px;
    height: 40px;
    left: 400px;
    top: 770px;

    /* B_1 */

    background: #FFFFFF;
    /* B_7 */

    border: none;
    border-bottom: 0.5px solid;
    border-color: rgb(154, 150, 150);
}

.gender{
    position: absolute;
    width: 357px;
    height: 32px;
    left: 790px;
    top: 220px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 38px;

    /* B_8 */

    color: #000000;
}

.malebutton{
    position: absolute;
    top: 277px;
    left: 807px;
}

.femalebutton{
    position: absolute;
    top: 277px;
    left: 862px;
}

.rgbt{
    box-sizing: border-box;

    position: absolute;
    width: 330px;
    height: 61px;
    left: 604px;
    top: 880px;

    /* M_2_2 */

    border: 2px solid #8DA6FF;
    border-radius: 11px;


}
.rgbutton{
    position: flex;
    width: 330px;
    height: 61px;
    left: 604px;
    top: 880px;

    margin-bottom: 200px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    /* M_2_2 */

    color: #8DA6FF;

}